---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { YouTube } from "astro-embed";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const heroImage = "/PA Splash.png";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 style="color: #e1e5e6;">Welcome, to Myd'Gaia!</h1>

      <div class="hero-image">
        {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
      </div>
      <p>Welcome to the home of plot armour.</p>
      <p>This is your one stop shop for all things plot armour!</p>
      <p>
        Catch the last episode below:
        <div class="youtube-embed">
          <YouTube id="-RBkLmDzofs" /> <!-- Use just the video ID -->
        </div>
      </p>

      <p>
        Get involved and <a href="https://discord.gg/29RyNh7gJn"
          >join us on Discord</a
        > and get to know us.
      </p>
    </main>
    <Footer />
  </body><style>
    body {
      font-family: "Atkinson", sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      background: linear-gradient(var(--gray-gradient)) no-repeat;
      background-color: var(--gray-light); /* Light Grey */
      background-size: 100% 625px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      color: rgb(var(--gray-dark)); /* Dark Blue-Grey */
      font-size: 20px;
      line-height: 1.7;
    }
    .hero-image {
      width: 100%;
    }
    .hero-image img {
      display: block;
      margin: 0 auto;
      border-radius: 12px;
      transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
    }
    .hero-image img:hover {
      box-shadow: var(--box-shadow); /* Apply box shadow on hover */
    }
    .youtube-embed {
      display: block; /* Make it a block element */
      margin: 20px 250px auto; /* Centers it horizontally with auto left and right margins */
      position: relative; /* Positioning for the box shadow */
      border-radius: 12px; /* Optional: round the corners */
      overflow: hidden; /* Ensure shadow doesn't overflow */
      transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
      max-width: 100%; /* Ensures it doesn't exceed the width of its container */
    }
  </style>
</html>
